[submodule "upstream/html-effectiveness"]
	path = upstream/html-effectiveness
	url = https://github.com/ThariqS/html-effectiveness.git
[submodule "upstream/obsidian-skills"]
	path = upstream/obsidian-skills
	url = https://github.com/kepano/obsidian-skills.git
